:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(182, 91%, 70%);
}

.reddit {
  height: 100vh;
  width: 100%;
  position: relative;
  /* overflow-x: hidden; */
}

.card {
  width: 30ch;
  /* ch refers to the width of the 0 character to its font size */
  color: var(--clr-neutral-100);
  background-image: url(/src/assets/images/nasa.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem 0 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  right: calc(50% - 15ch);
  bottom: calc(50% - 15ch);
  position: absolute;
  z-index: 1;
}

.card2 {
  width: 30ch;
  /* ch refers to the width of the 0 character to its font size */
  color: var(--clr-neutral-100);
  background-image: url(/src/assets/images/nasa.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem 0 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: translateX(450px);
  transition: transform 500ms ease;
  right: calc(50% - 15ch);
  bottom: calc(50% - 15ch);
  position: absolute;
  z-index: 1;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  font-size: 1.3rem;
}
.card-title-mobile {
  display: none;
}

.card-body {
  color: rgb(255 255 255 / 0.85);
}

.card-title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  height: 3px;
  bottom: 0;
  background: var(--clr-accent-400);
  transition: transform 500ms ease;
  transform-origin: left;
}
.card-title-mobile::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  height: 3px;
  bottom: 0;
  background: var(--clr-accent-400);
  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.button-card-container {
  position: relative;
  width: auto;
  top: 75%;
  text-align: center;
}

.button-card {
  border: none;
  font: inherit;
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.button-card:hover,
.button-card:focus {
  background-color: var(--clr-neutral-100);
}

.card-content {
  transform: translateY(65%);
  transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}
.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card-title::after {
  transform: scaleX(0);
}

.img-show {
  width: 40vw;
  height: 25vh;

  bottom: calc(50% - 5vh);
  right: calc(50% - 10vw);
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;

  transition: 0.5s;
  border-radius: 1.5rem;
}

.container-display {
  display: none;
}

.container-display2 {
  width: 50vw;
  height: 25vh;
  bottom: calc(50% - 5vh);
  right: calc(50% - 15vw);
  display: flex;
  gap: 20px;
  position: absolute;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.container-display3 {
  width: 50vw;
  height: 25vh;
  bottom: calc(50% - 5vh);
  right: calc(50% - 15vw);
  display: flex;
  gap: 20px;
  position: absolute;
  opacity: 0;
  animation: fadeOut 0.7s;
  -webkit-animation: fadeOut 0.7s;
  -moz-animation: fadeOut 0.7s;
  -o-animation: fadeOut 0.7s;
  z-index: -1;
}

.container-display2:hover .img-show {
  opacity: 0.3;
}
.container-display2 .img-show:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.photo-desc {
  color: aliceblue;
  position: relative;
  top: 175px;
  right: 135px;
  color: black;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80vw;
    height: 28vh;
    max-height: 24vh;
    right: calc(50% - 40vw);
    bottom: calc(75% - 15vh);
  }
  .card2 {
    display: flex;
    width: 80vw;
    height: 28vh;
    max-height: 24vh;
    right: calc(50% - 40vw);
    bottom: calc(75% - 15vh);
    transform: translateX(0px);
  }

  .card-title {
    display: none;
  }
  .card-title-mobile {
    display: block;
    position: relative;
    font-size: 1.5rem;
  }
  .card-content {
    position: absolute;
    top: 10px;
    width: 80vw;
    height: 28vh;
    max-height: 24vh;
  }
  .button-card-container {
    position: relative;
    width: auto;
    top: 41%;
    text-align: center;
    text-align: -webkit-center;
  }
  .button-card {
    border-radius: 0.75rem;
    padding: 0.5em 1.25em;
    opacity: 0.8;
    display: flex;
    width: 80vw;
    justify-content: center;
  }
  .container-display2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 80vw;
    height: 80vh;
    bottom: calc(50% - 79vh);
    right: calc(50% - 40vw);
    gap: 15px;
  }
  .container-display3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 80vw;
    height: 80vh;
    bottom: calc(50% - 79vh);
    right: calc(50% - 40vw);
    gap: 15px;
  }
  .img-show {
    width: 27.5vw;
    height: 25vh;
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .card {
    width: 80vw;
    height: 28vh;
    right: calc(50% - 40vw);
    bottom: calc(75% - 15vh);
  }
  .card2 {
    display: flex;
    width: 80vw;
    height: 28vh;
    right: calc(50% - 40vw);
    bottom: calc(75% - 15vh);
    transform: translateX(0px);
  }

  .container-display2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 80vw;
    height: 80vh;
    bottom: calc(50% - 79vh);
    right: calc(50% - 40vw);
    gap: 15px;
  }
  .container-display3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 80vw;
    height: 80vh;
    bottom: calc(50% - 79vh);
    right: calc(50% - 40vw);
    gap: 15px;
  }
  .img-show {
    width: 27.5vw;
    height: 20vh;
    display: flex;
  }
  .button-card-container {
    position: relative;
    width: auto;
    top: 41%;
    text-align: center;
    text-align: -webkit-center;
  }
  .card-title {
    display: none;
  }
  .card-title-mobile {
    position: relative !important;
    font-size: 1.5rem !important;
  }
  .card-content {
    position: absolute;
    top: 5%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
